<h1>New DeliveryDetails</h1>

<%= form_with model: @delivery_details, local: true do |form| %>
 <p>
	<%= form.label :date, 'Delivery Date'%> <br>
	<%= form.date_field :date %>
 </p>
 <%= form.submit 'save' %>
 <% end %>